
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"> &#x2083;202 <sub>tiga</sub>HOGEI <sub>hiru</sub>duapuluh &#x16D0&#x16DA&#x16D0&#x16DA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-md-auto">
      <li class="nav-item">
        <%= link_to 'About', about_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Blog', posts_path, class: 'nav-link' %>
      </li>
      <li class="nav-item active">
        <%= link_to "New Blog Post", new_post_path, class: 'nav-link ' %>
      </li>

    </ul>
  </div>
</nav>
