<div class="container">
  <div class="row">
    <div class="col-md-7 text-center">
      <div class="about_page">

        <h3><%= @title %></h3>
        <p><%= @content %></p>
      </div>

    </div>

  </div>



</div>
