
<%= form_with model: @post, local: true do |f| %>
<%# form_with scope: :post, url: posts_path, local: true do |f| %>
<%# form_for :post, url: posts_path do |f|  alernative alt%>
  <p>
    <%= f.text_field :title,class: 'form-control',placeholder: 'Title' %> <br>
    <%= f.text_area :body,class: 'form-control',placeholder: 'Content' %>
  </p>

  <p>
    <%# Blogscntroller new,create erstellen %>
    <%= f.submit %>
  </p>
<% end %>
