
<div class="container">
  <div class="row">

    <%@Posts.each do |post| %>
      <div class="col-md-4" id='card_margin'>
        <div class="card" style='width 18rem'>
          <div class="card-body">
            <h5 class="card-title"><%= post.title %></h5>
            <p class="card-text"><%= post.body %></p>
            <%= link_to 'View', post_path(post), class: 'btn btn-outline-primary' %>
            <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-outline-primary' %>
            <%= link_to 'Delete', post_path(post),class: 'btn btn-outline-danger', method: :delete, data: {confirm: 'Are you sure?'} %>
          </div>

        </div>
      </div>
    <% end %>

    </div>
</div>
