<div class="container", id="show_pages">


  <h2><%= @post.title%></h2>
  <hr>
  <br>
  <p><%= @post.body %></p>

  <%= link_to "Back", root_path, class:'btn btn-outline-primary',id:"show_button" %>
</div>
